_build
deps
.git
.elixir_ls
.gitignore
.tool-versions
.env
.env.*
docker-compose.yml
Dockerfile
.dockerignore
priv/static/assets
priv/static/cache_manifest.json
test
tmp
docs
README.md
NOTICE
LICENSE
justfile
